---
// Component Imports

import projects from "../_data/projects.json";
import ProjectGallery from "../components/ProjectGallery.svelte";

import playlist from "../_data/music.json";

import { MusicPlayer, MusicApp } from "../components/MusicApp";
import PhotoGallery from "../components/PhotoGallery.svelte";
import BaseHead from "../layouts/BaseHead.astro";
import Body from "../layouts/Body.astro";

// import photoSource from '../_data/instagram.json';
// const photos = photoSource.slice(0, 10);
import photoSource from "../_data/photos.json";
const photos = photoSource
  .filter((item) => item.type === "image")
  .map((item) => {
    return {
      uri: `/photos/${item.id}.webp`,
      text: item.text,
    };
  })
  .slice(0, 13);
---

<html lang="en" class="variant0">
  <head>
    <BaseHead
      title="Tomasz Gospodarczyk - personal page"
      description="Tomasz Gospodarczyk  - personal page"
    />
  </head>
  <Body title="Hi, I'm Tomasz">
    <section class="intro skew">
      <div class="content">
        <img src="/assets/me.jpg" alt="me" width="120" height="120" />
        <p class="chunk">
          I am a front-end engineer, webperformance enthusiast, occasional music
          creator and photographer. If you want to contact me, you can easily
          find me on <a href="http://twitter.com/gotomi">Twitter</a>,
          <a href="http://github.com/gotomi">GitHub</a> or <a
            href="http://linkedin.com/in/gotomi">Linkedin</a
          >.
        </p>
      </div>
    </section>

    <section class="projects" id="">
      <h2 class="section-title" title="Projects">Projects</h2>
      <ProjectGallery projects={projects} />
    </section>

    <section class="skew" id="photos">
      <div class="content">
        <h2 class="section-title" title="Photos">Photos</h2>
        <PhotoGallery photos={photos} showFeatured={true} client:visible />
      </div>
    </section>

    <section class="music" id="music">
      <h2 class="section-title" title="Music">Music</h2>
      <p class="chunk">
        From time to time I create music using DAW, software instruments, MIDI
        and computer keyboard and sometimes my voice. I will probably never
        consider any of my tracks finished, but you can enjoy the latest drafts
        if you like.
      </p>
      <MusicApp
        {playlist}
        client:load
      />
    </section>
  </Body>
  <style>
    section {
      background: var(--copy-bg-color);
      padding: calc(2 * var(--gap));
      max-width: 1200px;
      margin: 0 auto calc(4 * var(--gap)) auto;
    }
    .skew {
      transform: skewX(-1deg) rotate(-1deg);
    }
    .skew .content {
      transform: skewX(1deg) rotate(1deg);
    }
    .intro .content {
      display: flex;
      gap: var(--gap);
      max-width: 500px;
    }

    .music {
      display: grid;
      gap: var(--gap);
    }
  </style>
</html>
