---
import { Image } from "astro:assets";
const { projects } = Astro.props;
import myImage from "../../public/projects/crux-dashboard.png";
---

<div class="projects-gallery">
  <ul>
    {
      projects.map((item) => (
        <div class="chunk">
          <div class="header">
            <h3 class="box-title">{item.name}</h3>
            <p>{item.description}</p>
          </div>
          <a href={item.thumbnail}>
            <Image src={myImage} alt="test" width="350" height="132" />
          </a>
          <p class="more">
            <a href={item.svn_url}>
              see <strong>{item.name}</strong> on Github
            </a>
          </p>
        </div>
      ))
    }
  </ul>
</div>

<style>
  .box-title {
    text-transform: uppercase;
    background: tomato;
    display: inline-block;
    padding: 0 8px;
    color: #fafafa;
    filter: drop-shadow(1px 1px 0 #fff9);
    text-shadow: 1px 1px 0 #0009;
  }
  .projects-gallery {
    display: flex;
    grid-gap: 16px;
    flex-wrap: wrap;
  }
  .chunk {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .header {
    display: flex;
    gap: 8px;
    padding: 8px 0;
    align-items: baseline;
  }

  .projects-gallery img {
    border: 16px solid #fff6;
    width: auto;
    height: auto;
  }

  .projects-gallery p {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    min-height: 2em;
    overflow: hidden;
  }
  .more {
    text-align: right;
  }
</style>
