---
export interface Props {
  post: any
}
const { post} = Astro.props;

import PostTags from '../../components/blog/PostTags.astro';
import PostAuthor from '../../components/blog/PostAuthor.astro';
import 'highlight.js/styles/a11y-dark.css';
---
  <div class="blog-post">
    <time class="entry-date" datetime={post.date}>{new Intl.DateTimeFormat('en-US', { dateStyle: 'medium'}).format(new Date(post.date).valueOf())}</time>
  <h2>{post.data.title}</h2>
  <PostAuthor authors={post.data.author}/>
  <article class="blog-post-content">
        {post.excerpt}
        <a class="read-more" href={"/blog/" + post.slug}>read more →</a>
          <PostTags tags={post.data.tags}/>
  </article>
  </div>