doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title Tomasz Gospodarczyk | front-end developer
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='theme-color' content='#ffbf00')
        link(rel='preload', as='font',type='font/woff2', href=assets['src/assets/fonts/poppins.woff2'].substr(5),crossorigin)
        link(rel='stylesheet', href=assets['src/assets/css/style.css'].substr(5))
    
        link(rel='icon', href=assets['src/assets/img/favicon.ico'].substr(5), type='image/x-icon')
    body#top
        a(href='#top').logo
            gotomi
        main
            //- h1 Tomasz Gospodarczyk
            .coffee
                //- img(src=assets['src/assets/img/kawa2-no-bg-c.png'].substr(5), alt='I like coffee')
                figure
                    img(src=assets['src/assets/img/me-p.jpg'].substr(5), alt='me', width='320')
            .c
                include parts/content.html
                if feed
                    h2 Latest photos
                    ul.photos
                        each item in feed
                            li
                                a(href=item.href)
                                    img(src='images/' + item.id + '-200.jpg', alt=item.text)    
                
                footer
                    div
                        p &copy; 2021 Tomasz Gospodarczyk | designed in the browser